body {
  background-color: #036d4c;
  color: white;
  text-shadow: 1px 1px black;
}

#NaN {
  display: none;
}

#small {
  display: none;
  float: right;
  width: 30%
}

#big {
  display: none;
  float: right;
  width: 40%;
}

.jumbotron{
  padding: 12px;
  padding-bottom: 20px;
  margin-top: 5px;
  background: url(../images/jumbo.jpeg);
  color: white;
  text-shadow: 3px 3px black;
}

#sidebar {
  float: left;
  width: 30%;
  text-align: left;
  margin-right: 75px;
  border: 1.5px solid black;
  padding-left: 10px;
  word-wrap: break-word;
  background-color: #ffe6cc;
  color: black;
  text-shadow: none;
}

#number {
  color: black;
}

.btn {
  background-color: black;
  border-radius: 8px;
  padding: 4px;
  font-size: 14px;
  color: white;
}

#result {
  float: left;
}
